.langButton:hover {
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .centered {
    margin: auto;
    display: block;
  }